@import "compass";
*{
  -webkit-box-sizeing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-fluid{
  width: 90%;
}

// styling for seperator line
.horizontal-line {
  border-color: black;
}
// styling for mass deletion action panel
.action-control {
  margin-top: -40px;
  float:right;
  select{
    width: 200px !important;
    margin-right: 20px;
  }

}
// styling for products listed 50px 25px 0px 30px;
.product {
  height: 225px;
  width: 350px;
  border: 1px solid black;
  margin: 20px 30px 20px 40px;
  //style for multi delete checkboxes in product list
   input.check-box {
    margin-top: 15px;
  }
  p{
    text-align: center;
    font-size: 25px;
  }
}
