/* line 2, ../sass/stylesheet.scss */
* {
  -webkit-box-sizeing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/stylesheet.scss */
.container-fluid {
  width: 90%;
}

/* line 12, ../sass/stylesheet.scss */
.horizontal-line {
  border-color: black;
}

/* line 16, ../sass/stylesheet.scss */
.action-control {
  margin-top: -40px;
  float: right;
}
/* line 19, ../sass/stylesheet.scss */
.action-control select {
  width: 200px !important;
  margin-right: 20px;
}

/* line 26, ../sass/stylesheet.scss */
.product {
  height: 225px;
  width: 350px;
  border: 1px solid black;
  margin: 20px 30px 20px 40px;
}
/* line 32, ../sass/stylesheet.scss */
.product input.check-box {
  margin-top: 15px;
}
/* line 35, ../sass/stylesheet.scss */
.product p {
  text-align: center;
  font-size: 25px;
}
